<?xml version="1.0" encoding="utf-8"?>
<!-- FtcCommon manifest -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qualcomm.ftccommon">
    <application
        android:icon="@mipmap/ic_launcher">
    </application>

</manifest>